<ul class="nav nav-tabs mb-3">
  <li class="nav-item">
    <%= link_to translate(:overview, scope: %i[nav_tabs passport]),
                @passport,
                class: "nav-link #{:active if tab == :overview}" %>
  </li>
  <li class="nav-item">
    <%= link_to translate(:confirmations, scope: %i[nav_tabs passport]),
                passport_passport_confirmations_path(@passport),
                class: "nav-link #{:active if tab == :confirmations}" %>
  </li>
</ul>
