<div class="container">
  <% if @membership_app.resolved? %>
    <h1><%= translate '.congratulations' %></h1>
    <p class="lead"><%= translate '.lead_congratulations' %></p>
  <% else %>
    <h1><%= translate '.header' %></h1>
    <p class="lead"><%= translate '.lead_text' %></p>
    <hr/>
  <% end %>
</div>
