language: ruby

services:
  - postgresql

env:
  global:
    - POSTGRES_HOST=localhost
    - POSTGRES_PORT=5432
    - POSTGRES_USER=postgres
    - POSTGRES_PASSWORD=''
    - POSTGRES_DB=partynest_test

before_install:
  - sudo apt install qt4-qmake libqt4-dev libqtwebkit-dev

before_script:
  - psql -U postgres -c "CREATE DATABASE partynest_test;"
