dist: xenial
language: ruby

services:
  - postgresql
  - redis-server

env:
  global:
    - RAILS_MAX_THREADS=5
    - SIDEKIQ_CONCURRENCY=5

    - POSTGRES_POOL=5
    - POSTGRES_HOST=localhost
    - POSTGRES_PORT=5432
    - POSTGRES_USER=postgres
    - POSTGRES_PASSWORD=''
    - POSTGRES_DB=partynest_test

    - SIDEKIQ_CLIENT_REDIS_HOST=localhost
    - SIDEKIQ_CLIENT_REDIS_PORT=6379
    - SIDEKIQ_CLIENT_REDIS_DB=0
    - SIDEKIQ_CLIENT_REDIS_PASSWORD=

    - SIDEKIQ_SERVER_REDIS_HOST=localhost
    - SIDEKIQ_SERVER_REDIS_PORT=6379
    - SIDEKIQ_SERVER_REDIS_DB=0
    - SIDEKIQ_SERVER_REDIS_PASSWORD=

    - RAILS_CACHE_REDIS_HOST=localhost
    - RAILS_CACHE_REDIS_PORT=6379
    - RAILS_CACHE_REDIS_DB=1
    - RAILS_CACHE_REDIS_PASSWORD=

before_install:
  - wget https://github.com/mozilla/geckodriver/releases/download/v0.23.0/geckodriver-v0.23.0-linux64.tar.gz
  - sudo tar -xvzf geckodriver*
  - sudo chmod +x geckodriver
  - sudo mv geckodriver /usr/local/bin/
  - geckodriver --version

install:
  - bundle install --jobs=3 --retry=3
  - bundle exec rake yarn:install

before_script:
  - psql -U postgres -c "CREATE DATABASE partynest_test;"

script: bundle exec rake all

after_script:
  - bundle exec rake coveralls:push
