<ul>
  <% Relationship.where(person: person, parent_rel: nil).each do |relationship| %>
    <li>
      <%= render partial: 'people/rel_hierarchy', locals: { relationship: relationship } %>
    </li>
  <% end %>
</ul>
