<% if policy(PrivateKey.new(asymmetric_key)).show? %>
  <div class="alert alert-warning" role="alert">
    <h4 class="alert-heading">
      <%= translate '.header' %>
    </h4>

    <hr/>

    <p>
      <%= translate(
          '.text',
          delay: distance_of_time_in_words(AsymmetricKey::PRIVATE_KEY_CLEAR_DELAY),
        ) %>
    </p>

    <%= link_to(
        translate('.link'),
        private_key_path(
          asymmetric_key,
          format: :key,
          private_key_pem_secret: params[:private_key_pem_secret],
        ),
        class: 'btn btn-warning',
      ) %>
  </div>
<% end %>
