<div class="container">
  <div class="row">
    <div class="col-md-3 mb-4">
      <%= render partial: 'settings/nav_sidebar', locals: { tab: :person } %>
    </div>

    <div class="col-md-9">
      <% if @account.person.nil? %>
        <p class="lead">
          <%= translate '.no_person' %>
        </p>
      <% else %>
        <dl>
          <%= render partial: 'people/common_descr_list_items',
                     locals: { person: @account.person } %>
        </dl>
      <% end %>
    </div>
  </div>
</div>
