<div class="mb-3">
  <ul class="nav nav-tabs d-none d-sm-flex">
    <li class="nav-item">
      <%= link_to translate(:overview, scope: %i[nav_tabs person]),
                  [:staff, person],
                  class: "nav-link #{:active if tab == :overview}" %>
    </li>
  </ul>

  <ul class="nav flex-column nav-polls d-flex d-sm-none">
    <li class="nav-item">
      <%= link_to translate(:overview, scope: %i[nav_tabs person]),
                  [:staff, person],
                  class: "nav-link #{:active if tab == :overview}" %>
    </li>
  </ul>
</div>
