<div class="container">
  <div class="row">
    <div class="col-md-3 mb-4">
      <%= render partial: 'settings/nav_sidebar', locals: { tab: :contacts } %>
    </div>

    <div class="col-md-9">
      <%= render partial: 'form', locals: { contact: @contact } %>

      <% unless @contacts.nil? %>
        <%= render partial: 'table', locals: { contacts: @contacts } %>
        <%= pagination @contacts %>
      <% end %>
    </div>
  </div>
</div>
