<div class="container">
  <div class="row">
    <div class="col-md-3 mb-4">
      <%= render partial: 'settings/nav_sidebar', locals: { tab: :appearance } %>
    </div>

    <div class="col-md-9">
      <%= render partial: 'form', locals: { account: @account } %>
    </div>
  </div>
</div>
