<div class="container">
  <h2>
    <%= truncate @membership_pool.name %>
    <br/>
    <small class="text-muted">
      <%= MembershipPool.model_name.human %>
    </small>
  </h2>

  <%= render partial: 'nav_tabs', locals: { tab: :overview } %>
</div>
