<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">
        <%= translate :staff_services %>
      </li>
    </ol>
  </nav>

  <ul>
    <% if policy(%i[staff person]).index? %>
      <li>
        <%= link_to Person.model_name.human(count: 0), staff_people_path %>
      </li>
    <% end %>
  </ul>
</div>
