<div class="container">
  <%= nav_breadcrumb(
    [translate(:staff_services), staff_root_path],
    [Person.model_name.human(count: 0), staff_people_path],
    [@person.full_name, staff_person_path(@person)],
    translate('.link_to_connect_account'),
  ) %>
</div>
