<div class="container">
  <%= nav_breadcrumb(
    [translate(:staff_services), staff_root_path],
    ContactNetwork.model_name.human(count: 0),
  ) %>

  <%= render partial: 'table',
             locals: { contact_networks: @contact_networks } %>
  <%= pagination @contact_networks %>
</div>
