<div class="container">
  <%= nav_breadcrumb(
    [translate(:staff_services), staff_root_path],
    [Person.model_name.human(count: 0), staff_people_path],
    [@person.full_name, staff_person_passports_path(@person)],
    Passport.model_name.human(count: 0),
  ) %>

  <div class="row">
    <div class="col-md-6">
      <%= render partial: 'passports/common_descr_list',
                 locals: { passport: @passport } %>
    </div>

    <div class="col-md-6">
      <%= render partial: 'passports/registration_descr_list',
                 locals: { passport: @passport } %>
    </div>
  </div>
</div>
