<div class="container">
  <article>
    <header>
      <h1>Открытая встреча сторонников Либертарианской партии</h1>
      <p>
        <time datetime="2018-11-24T13:00:00+05:00">
          24 Ноября 2018, 13:00
        </time>
      </p>
      <div class="input-group input-group-sm">
        <input type="text" class="form-control" readonly value="https://lpr-perm.com/s/452465"/>
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" data-toggle="clipboard" data-clipboard-text="https://lpr-perm.com/s/452465">
            <i class="far fa-copy"></i>
          </button>
        </div>
      </div>
    </header>

    <div class="mt-3">
      <div class="row">
        <div class="col-lg">
          В эту субботу, в 13:00 мы проводим открытую встречу для сторонников
          Либертарианской партии, а также интересующихся либертарианством,
          гражданских активистов и просто желающих познакомиться и пообщаться.
          Встреча пройдёт в кафе &quot;Хуторок&quot; по адресу Краснова, 25.
          Вы сможете поговорить в неформальной обстановке с активными
          гражданами Перми. Члены ЛПР ответят на любые вопросы о партии,
          либертарианстве и планируемой деятельности в регионе. Надеемся,
          что в дальнейшем подобные встречи станут регулярными и будут
          привлекать всё больше интересующихся.
        </div>

        <div class="col-lg">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2989.5955629361597!2d56.24553108301219!3d58.005389687721994!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x5ec5345ffe147e67!2sKhutorok!5e0!3m2!1sen!2s!4v1542724349911">
            </iframe>
          </div>
        </div>
    </div>

    <hr/>

    <div>
      <div id="disqus_thread"></div>
        <script>
          var disqus_config = function () {
            this.page.url        = 'https://lpr-perm.com/events/2018/11/24/otkrytaja-vstrecha-storonnikov-libertarianskoj-partii.html';
            this.page.identifier = '452465';
          };

          (function() {
            var d = document, s = d.createElement('script');
            s.src = 'https://lpr-perm.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
          })();
        </script>

        <noscript>
          Please enable JavaScript to view the
          <a href="https://disqus.com/?ref_noscript">
            comments powered by Disqus.
          </a>
        </noscript>
      </div>
    </div>

    <a href="/events/2018/11/24/otkrytaja-vstrecha-storonnikov-libertarianskoj-partii.html" hidden></a>
  </article>
</div>
