<div class="container">
  <article>
    <header>
      <h1>Секретарь РО ЛПР в Пермском крае был задержан на 4 часа</h1>
      <p>
        <time datetime="2018-11-12T17:53:00+05:00">
          12 Ноября 2018, 17:53
        </time>
      </p>
      <div class="input-group input-group-sm">
        <input type="text" class="form-control" readonly value="https://lpr-perm.com/s/377295"/>
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" data-toggle="clipboard" data-clipboard-text="https://lpr-perm.com/s/377295">
            <i class="far fa-copy"></i>
          </button>
        </div>
      </div>
    </header>

    <div class="mt-3">
      <p>
        Вчера, 11 ноября, в Перми был задержан Александр Котов, секретарь регионального
        отделения Либертарианской партии России в Пермском крае. Он находился
        неподалёку от публичной акции, на пересечении Комсомольского проспекта
        и улицы Ленина, и снимал видео на свой телефон. В акции он не участвовал.
      </p>

      <p>
        Суть публичной акции заключалась в установке чучела с портретом президента
        России Владимира Путина, одетого в тюремную робу, с надписями “ЛЖЕЦ”
        и “ВОЕННЫЙ ПРЕСТУПНИК ПЫНЯ В.В.”
      </p>

      <div class="text-center">
        <figure class="figure">
          <picture>
            <source media="(max-width: 362px)" srcset="/assets/small/voennyj_prestupnik_pynja-caf7dd297922bb5bb7ebe4ef65f76092326a43610129ce2b4ddc578506e19add.jpg" />
            <source media="(max-width: 522px)" srcset="/assets/medium/voennyj_prestupnik_pynja-cd9518af3e8d6700adf9285ec4c9fd7f144151f6758253bc6c71e4f791bc563d.jpg" />
            <img alt="Фото с акции" src="/assets/large/voennyj_prestupnik_pynja-b8d375465b1be524d3d6cef811c6bd960ce1f3bc05a06f58f9d3de4fe9ebcea7.jpg" class="figure-img img-fluid rounded" />
          </picture>
          <figcaption class="figure-caption text-left">
            Фото с акции
          </figcaption>
        </figure>
      </div>

      <p>
        Примерно через 40 минут после начала акции, к манекену подъехал автомобиль
        с двумя сотрудниками Росгвардии. Ещё через 15 минут на месте уже было около
        десяти сотрудников правоохранительных органов. Они проводили криминалистическую
        экспертизу манекена, в частности, собирали с него отпечатки пальцев.
      </p>

      <p>
        К Александру подошли сотрудники Росгвардии, надели на него наручники.
        Его отвезли в отдел полиции №6 (дисл. Ленинский район). В присутствии двух
        понятых у него изъяли вещи. С него взяли объяснение, в котором он отказался
        свидетельствовать, ссылаясь на 51 статью Конституции.
      </p>

      <p>
        В отделении Александра держали 4 часа, после чего отпустили
        без составления протокола.
      </p>

      <h1 id="наше-мнение">Наше мнение</h1>

      <p>
        В полном соответствии с либертарианской идеологией, мы не считаем, что
        автора данной акции нужно задерживать и привлекать к какой-либо ответственности,
        поскольку мы не считаем эту акцию общественно опасным деянием. С материальной
        точки зрения манекен не опаснее, чем выкинутый на обочину мусор. Что касается
        слов, написанных на нём - никакие слова не могут принести обществу столько
        вреда, сколько приносит государственная цензура, прикрываемая благими
        намерениями.
      </p>

      <p>
        Безотносительно к либертарианской идеологии, рассматривая данную ситуацию
        в рамках текущей правовой системы, мы считаем неадекватным то количество
        сил полиции, которое было использовано при реагировании на данный инцидент.
      </p>

      <h1 id="публикации-в-сми">Публикации в СМИ</h1>

      <ul>
        <li><a href="https://meduza.io/news/2018/11/12/v-tsentre-permi-k-stolbu-privyazali-chuchelo-s-litsom-putina-politsiya-nachala-proverku">Медуза</a></li>

        <li>
          <a href="https://www.svoboda.org/a/29595906.html">Радио Свобода</a>,
          <a href="https://www.svoboda.org/a/29605593.html">ещё</a>
        </li>

        <li><a href="https://snob.ru/news/168038">Сноб</a></li>
        <li><a href="https://www.znak.com/2018-11-12/voennye_prestupnik_pynya_v_v_v_permi_u_cuma_k_stolbu_privyazali_maneken_s_licom_putina">Znak.com</a></li>
        <li><a href="https://tjournal.ru/79785-v-centre-permi-k-stolbu-privyazali-chuchelo-s-putinym-mvd-nachalo-proverku">TJournal</a></li>
      </ul>

      <h2 id="пермские-сми">Пермские СМИ</h2>

      <ul>
        <li>
          <a href="http://zvzda.ru/articles/bf2c63772159">Звезда</a>,
          <a href="http://zvzda.ru/articles/9a32c9932d26">ещё</a>,
          <a href="http://zvzda.ru/news/edaaec75c0ed">ещё</a>
        </li>

        <li><a href="https://progorod59.ru/news/25408">Pro Город Пермь</a></li>
        <li><a href="https://59.ru/text/politics/65606061/">59.ru</a></li>
      </ul>

    <hr/>

    <div>
      <div id="disqus_thread"></div>
        <script>
          var disqus_config = function () {
            this.page.url        = 'https://lpr-perm.com/posts/2018/11/12/sekretar-ro-lpr-v-permskom-krae-byl-zaderzhan-na-4-chasa.html';
            this.page.identifier = '377295';
          };

          (function() {
            var d = document, s = d.createElement('script');
            s.src = 'https://lpr-perm.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
          })();
        </script>

        <noscript>
          Please enable JavaScript to view the
          <a href="https://disqus.com/?ref_noscript">
            comments powered by Disqus.
          </a>
        </noscript>
      </div>
    </div>

    <a href="/posts/2018/11/12/sekretar-ro-lpr-v-permskom-krae-byl-zaderzhan-na-4-chasa.html" hidden></a>
  </article>
</div>
