<div class="container">
  <article>
    <header>
      <h1>Сформирован руководящий комитет РО ЛПР в Пермском крае</h1>
      <p>
        <time datetime="2018-07-27T21:00:00+05:00">
          27 Июля 2018, 21:00
        </time>
      </p>
      <div class="input-group input-group-sm">
        <input type="text" class="form-control" readonly value="https://lpr-perm.com/s/243898"/>
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" data-toggle="clipboard" data-clipboard-text="https://lpr-perm.com/s/243898">
            <i class="far fa-copy"></i>
          </button>
        </div>
      </div>
    </header>

    <div class="mt-3">
      <p>
        Сегодня прошло общее собрание регионального отделения Либертарианской партии
        России в Пермском крае. На нём был сформирован руководящий комитет отделения.
        На практике это означает начало полноценного функционирования отделения
        в регионе.
      </p>

      <p>
        Ранее для принятия любого решения необходимо было созвать общее собрание
        отделения, причём присутствовать на нём должно было не менее половины членов
        партии из Пермского края. Руководящий комитет имеет полномочия принимать
        большинство решений от имени всего отделения. В частности, упростится процесс
        приёма в партию новых сторонников, что является для нашего отделения
        приоритетной задачей.
      </p>

      <p>
        Для руководящего комитета была установлена численность в два человека, что
        является минимально возможным значением согласно Уставу партии. Членами
        руководящего комитета стали Александр Котов и Иван Красноперов. Руководящий
        комитет выбрал Александра Котова своим секретарём.
      </p>

      <hr/>

      <div>
        <div id="disqus_thread"></div>
          <script>
            var disqus_config = function () {
              this.page.url        = 'https://lpr-perm.com/posts/2018/07/27/sformirovan-rukovodjashhij-komitet-ro-lpr-v-permskom-krae.html';
              this.page.identifier = '243898';
            };

            (function() {
              var d = document, s = d.createElement('script');
              s.src = 'https://lpr-perm.disqus.com/embed.js';
              s.setAttribute('data-timestamp', +new Date());
              (d.head || d.body).appendChild(s);
            })();
          </script>

          <noscript>
            Please enable JavaScript to view the
            <a href="https://disqus.com/?ref_noscript">
              comments powered by Disqus.
            </a>
          </noscript>
        </div>
    </div>
    <a href="/posts/2018/07/27/sformirovan-rukovodjashhij-komitet-ro-lpr-v-permskom-krae.html" hidden></a>
  </article>
</div>
