<div class="jumbotron jumbotron-fluid text-center">
  <div class="container">
    <h1>
      Либертарианская партия России
      <br/>
      <small class="text-muted">
        в Пермском крае
      </small>
    </h1>
    <p class="lead">
      Мы выступаем за свободный рынок и государственное невмешательство
      в экономику, за принцип самопринадлежности и самоценности человеческой
      личности.
    </p>
    <a role="button" class="btn btn-primary btn-lg" href="<%= new_membership_application_path %>">
      Вступить
    </a>
  </div>
</div>
