<% content_for :top do %>
  <div class="jumbotron jumbotron-fluid text-center">
    <div class="container">
      <h1><%= translate :title %></h1>

      <p class="lead">
        <%= translate '.description' %>
      </p>
    </div>
  </div>
<% end %>
