<li class="page-item">
  <%= link_to_unless current_page.last?,
                     raw(translate('pagination.last')),
                     url,
                     remote: remote,
                     class: 'page-link' %>
</li>
