<li class="page-item">
  <%= link_to_unless current_page.first?,
                     raw(translate('pagination.previous')),
                     url,
                     rel: 'prev',
                     remote: remote,
                     class: 'page-link' %>
</li>
