<table class="table">
  <thead>
    <tr>
      <th scope="col">
        <%= Relationship.human_attribute_name :id %>
      </th>
      <th scope="col">
        <%= Relationship.human_attribute_name :from_date %>
      </th>
      <th scope="col"></th>
    </tr>
  </thead>

  <tbody>
    <% relationships.each do |relationship| %>
      <tr>
        <td scope="row"><%= relationship.id %></td>
        <td><%= relationship_from_date_or_none relationship %></td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>
