<div class="container">
  <div class="row">
    <div class="col-md-3 mb-4">
      <%= render partial: 'settings/nav_sidebar', locals: { tab: :passports } %>
    </div>

    <div class="col-md-9">
      <%= render partial: 'table', locals: { passports: @passports } %>
      <%= pagination @passports %>
    </div>
  </div>
</div>
