<div class="container">
  <div class="row">
    <div class="col-md-3 mb-4">
      <%= render partial: 'settings/nav_sidebar', locals: { tab: :passports } %>
    </div>

    <div class="col-md-4">
      <%= render partial: 'passports/common_descr_list',
                 locals: { passport: @passport } %>
    </div>

    <div class="col-md-4">
      <%= render partial: 'passports/registration_descr_list',
                 locals: { passport: @passport } %>
    </div>
  </div>
</div>
