<div class="container">
  <%= nav_breadcrumb(
      [translate(:staff_services), staff_root_path],
      Script.model_name.human(count: 0),
    ) %>

  <%= render partial: 'table', locals: { scripts: @scripts } %>
  <%= pagination @scripts %>
</div>
