default: &default
  host:     <%= ENV.fetch('SIDEKIQ_SERVER_REDIS_HOST')     { 'localhost' } %>
  port:     <%= ENV.fetch('SIDEKIQ_SERVER_REDIS_PORT')     { 6379        } %>
  password: <%= ENV.fetch('SIDEKIQ_SERVER_REDIS_PASSWORD') { 'password'  } %>

development:
  <<: *default
  db: <%= ENV.fetch('SIDEKIQ_SERVER_REDIS_DB') { 0 } %>

test:
  <<: *default
  db: <%= ENV.fetch('SIDEKIQ_SERVER_REDIS_DB') { 15 } %>

staging:
  <<: *default
  db: <%= ENV.fetch('SIDEKIQ_CLIENT_REDIS_DB') { 10 } %>
  ssl: true
  ssl_params:
    verify_mode: <%= OpenSSL::SSL::VERIFY_NONE %>
    ca_file:     <%= Rails.root.join 'config', 'certs', 'redis.crt' %>

production:
  <<: *default
  db: <%= ENV.fetch('SIDEKIQ_CLIENT_REDIS_DB') { 0 } %>
  ssl: true
  ssl_params:
    verify_mode: <%= OpenSSL::SSL::VERIFY_NONE %>
    ca_file:     <%= Rails.root.join 'config', 'certs', 'redis.crt' %>
