<div class="container">
  <%= nav_breadcrumb(
      [translate(:staff_services), staff_root_path],
      OrgUnitKind.model_name.human(count: 0),
    ) %>

  <%= render partial: 'table', locals: { org_unit_kinds: @org_unit_kinds } %>
  <%= pagination @org_unit_kinds %>
</div>
