<div class="mb-3">
  <%= nav_tabs(
    :person,
    tab,
    overview: [:staff, person],
    person_comments: staff_person_person_comments_path(person),
    passports: staff_person_passports_path(person),
    resident_registrations: staff_person_resident_registrations_path(person),
  ) %>
</div>
