<div class="container">
  <%= nav_breadcrumb(
    [translate(:staff_services), staff_root_path],
    Account.model_name.human(count: 0),
  ) %>

  <%= render partial: 'table', locals: { accounts: @accounts } %>
</div>
