<div class="container">
  <%= render partial: 'staffs/people/nav_tabs',
             locals: { person: @person, tab: :resident_registrations } %>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">
          <%= ResidentRegistration.human_attribute_name :id %>
        </th>
        <th scope="col"></th>
      </tr>
    </thead>

    <tbody>
      <% @resident_registrations.each do |resident_registration| %>
        <tr>
          <td scope="row"><%= resident_registration.id %></td>
          <td></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
