<p><%= translate '.greeting', recipient: @resource.email %></p>

<p><%= translate '.message' %></p>

<p><%= translate '.instruction' %></p>

<p>
  <%= link_to translate('.action'),
              unlock_url(@resource, unlock_token: @token) %>
</p>
